{% load static %}
<h1>사용자 정보 작성</h1>
<img src = "{% static 'home/image/문의.png' %} ">



<h2>이름을 입력하세요.</h2>
<form action="{% url 'result' %}" method="POST">
    {% csrf_token %}
    <input name="username" placeholder="이름"/>
    <br/>
    <br/>
    <button type="submit">체크하기</button>
</form>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    정보 작성
    <div class = "container">
        <form action = "{% url 'create' %}">
            이름:<input type="text" name="name">
            <br>
            전화번호:<input type="text" name="phone_number">
            <br>
            이메일:<input type="email" name="email">
            <br>
            <input type="submit" value="제출">
        </form>
    </div>
</body>
</html>
